<div>
  <label>{{localize (concat locPrefix "fontPreviewerTab.title")}}</label>
  <p class="notes">{{localize (concat locPrefix "fontPreviewerTab.hint")}}</p>
   <select class="previewed-font" id="font-previewer-previewed-font" data-dtype="String" style="flex: 1; text-transform: capitalize;">
    {{#select configFontFamilies}}
    <option disabled selected value>{{localize (concat locPrefix "fontPreviewerTab.selectFont")}}</option>
      {{#each configFontFamilies as | font |}}
        <option value="{{font}}">{{font}}</option>
      {{/each}}
    {{/select}}
  </select>
  <div class="font-preview-text--hidden"; id="font-previewer-preview-text" style="font: 0% Arial;">
    <hr style="width:60%">
    <h2 id="previewer-font-preview-title" style="text-align:center">Font</h2>
    <p>{{completeAlphabet}}</p>
    <hr style="width:40%">
    <p>{{panagramBlob}}</p>
  </div>
  <hr style="width:60%">
</div>