<h2 class="pack-header font-pack--collapse::before" style="display: flex;flex-direction: row;">
  <div style="flex: 0 0 50px;">
  <img id="foundry-default-icon" style="border-width:0;" src="icons/fvtt.png" height="20px" title="{{localize (concat locPrefix "fontManagerTab.foundryDefaultPackName")}}"/>
</div>
  {{localize (concat locPrefix "fontManagerTab.foundryDefaultPackName")}}
</h2>
<div class="form-group submenu">
  <ul class="font-pack" style="list-style: none;">
    <li style="display: flex;">
      <div style="flex: 0 0 50px;">{{localize (concat locPrefix "fontManagerTab.sourceColumnName")}}</div>
      <div style="flex: 0 0 150px;">{{localize (concat locPrefix "fontManagerTab.fontFamilyColumnName")}}</div>
      <div style="flex: 0 0 450px;">{{localize (concat locPrefix "fontManagerTab.previewColumnName")}}</div>
      <div style="flex: 0 0 70px;">{{localize (concat locPrefix "fontManagerTab.enabledColumnName")}}</div>
    </li>
    <hr>
    {{#each installedFonts.foundryDefaultFonts as |font|}}
      <li style="display: flex;">
        <div style="flex: 0 0 50px;"><img id={{font.sourceIconId}} style="border-width:0;"
                                          src={{font.sourceIconPath}} height="20px"
                                          title="{{font.sourceIconHoverText}}"/></div>
        <div style="flex: 0 0 150px; text-transform: capitalize;">{{font.name}}</div>
        <div style="flex: 0 0 450px; font: 120% {{font.name}};"><p>{{@root.previewAlphabet}}</div>
        <input type="checkbox" style="flex: 0 0 70px;" {{checked}} disabled="disabled" />
      </li>
      <hr style="width:60%">
    {{/each}}
  </ul>
</div>