<div style="padding: 0 2.5%; display: flex;flex-direction: column;">
  <label>{{localize (concat locPrefix "fontManagerTab.title")}}</label>
  <p class="notes">{{localize (concat locPrefix "hint")}}</p>
  <ul style="list-style: none;">
    <li style="display: flex;">
      <div style="flex: 0 0 60px;">{{localize (concat locPrefix "fontManagerTab.sourceColumnName")}}</div>
      <div style="flex: 0 0 175px;">{{localize (concat locPrefix "fontManagerTab.fontFamilyColumnName")}}</div>
      <div style="flex: 2;">{{localize (concat locPrefix "fontManagerTab.previewColumnName")}}</div>
    </li>
    <hr>
    {{#each fontFamilies as |family|}}
      <li style="display: flex;">
        <div style="flex: 0 0 50px;"><img id={{family.sourceIconId}} style="border-width:0;"
                                          src={{family.sourceIconPath}} height="20px"
                                          title="{{family.sourceIconHoverText}}"/></div>
        <div style="flex: 0 0 175px; text-transform: capitalize;">{{family.name}}</div>
        <div style="flex: 2; font: 120% {{family.name}};">{{@root.previewAlphabet}}</div>
      </li>
      <hr style="width:60%">
    {{/each}}
  </ul>
</div>