<div>
  <label>{{localize (concat locPrefix "title")}}</label>
  <p class="notes">{{localize (concat locPrefix "hint")}}</p>
   <select class="previewed-font" name="previewed-font" data-dtype="String" style="flex: 1; text-transform: capitalize;>
    {{#select enabledFonts}}
      {{#each enabledFonts as | font |}}
        <option value="{{font}}">{{font}}</option>
      {{/each}}
    {{/select}}
  </select>
  <hr style="width:60%">
  <div class="font-preview-text"; style="">{{panagramBlob}}</div>
  <hr style="width:60%">
</div>