<form autocomplete="off" class="fvtt-fonts flexcol" >
  {{!The tabbed form nav. Requres tabs preperty in defaultOptions to function}}
  <nav class="sheet-tabs tabs" data-group="fvtt-fonts-main">
    <a class="item active" data-tab="fontPreviewer"><i class="fas fa-scroll"></i> {{localize (concat locPrefix "mainSettingsFormFrame.fontPreviewerTabLabel")}}</a>
    <a class="item" data-tab="fontManager"><i class="fas fa-font"></i> {{localize (concat locPrefix "mainSettingsFormFrame.fontManagerTabLabel")}}</a>
    <a class="item" data-tab="addFont"><i class="fas fa-feather-alt"></i> {{localize (concat locPrefix "mainSettingsFormFrame.addFontsTabLabel")}}</a>
    <a class="item" data-tab="fontPacks"><i class="fas fa-box"></i> {{localize (concat locPrefix "mainSettingsFormFrame.fontPacksTabLabel")}}</a>
    <a class="item" data-tab="preferences"><i class="fas fa-cogs"></i> {{localize (concat locPrefix "mainSettingsFormFrame.preferencesTabLabel")}}</a>
  </nav>
  {{! Starts the body section which will change when the tab is changed}}
  <section id="config-tabs" class="content">
    {{! Font Previewer tab}}
    <div class="tab active" data-tab="fontPreviewer" data-group="fvtt-fonts-main">
      <div>
        <label>{{localize (concat locPrefix "title")}}</label>
        <p class="notes">{{localize (concat locPrefix "hint")}}</p>
        <ul style="list-style: none;">
          <li style="display: flex;">
            <div style="flex: 0 0 60px;">{{localize (concat locPrefix "sourceColumnName")}}</div>
            <div style="flex: 0 0 175px;">{{localize (concat locPrefix "fontFamilyColumnName")}}</div>
            <div style="flex: 2;">{{localize (concat locPrefix "previewColumnName")}}</div>
          </li>
          <hr>
          {{#each enabledFonts as |font|}}
            <li style="display: flex;">
              <div style="flex: 0 0 50px;"><img id={{font.sourceIconId}} style="border-width:0;"
                                                src={{font.sourceIconPath}} height="20px"
                                                title="{{font.sourceIconHoverText}}"/></div>
              <div style="flex: 0 0 175px; text-transform: capitalize;">{{font.name}}</div>
              <div style="flex: 2; font: 120% {{font.name}};">{{@root.previewAlphabet}}</div>
            </li>
            <hr style="width:60%">
          {{/each}}
        </ul>
      </div>
    </div>
    {{! Font Manager tab}}
    <div class="tab active" data-tab="fontManager" data-group="fvtt-fonts-main">
      <div class="settings-list">
        Font Manager
      </div>
    </div>
    {{! Add Font tab}}
    <div class="tab" data-tab="addFont" data-group="fvtt-fonts-main" >
      <div class="settings-list">
        <div>
          <label>{{localize (concat locPrefix "addFontTab.title")}}</label>
          <p class="notes">{{localize (concat locPrefix "addFontTab.hint")}}<a href='https://fonts.google.com/'  target="_blank">{{localize (concat locPrefix "addFontTab.googleFontsLink")}}</a></p>
        </div>
        <hr>
        <div class="form-group-stacked">
          <input type="text" name="gmAddedFonts" id="gmAddedFonts" value="{{value}}">
          <p class="notes">{{localize (concat locPrefix "addFontTab.inputHint")}}</p>
        </div>
        <button type="button" data-action="addFont">
          <i class="fas fa-plus"></i> {{localize (concat locPrefix "addFontTab.addButtonTitle")}}
        </button>
        <hr style="width:80%">
      </div>
    </div>
    {{! Font Packs tab}}
    <div class="tab" data-tab="fontPacks" data-group="fvtt-fonts-main">
      <div class="settings-list">
        {{! FVTT Fonts Default Pack setting}}
        <div class="form-group">
          <label>{{localize (concat locPrefix "fontPacksTab.fvttFontsDefaultFontsVisibleSetting.label")}}</label>
          <input type="checkbox" data-fvttFontsDefaultFontsVisible name="fvttFontsDefaultFontsVisible" data-dtype="Boolean" {{checked fvttFontsDefaultFontsVisible}} />
          <p class="notes">{{localize (concat locPrefix "fontPacksTab.fvttFontsDefaultFontsVisibleSetting.hint")}}</p>
        </div>
        <hr style="width:80%">
        {{! System pack setting}}
        {{#if gameSystemPackAvailable}}
          <div class="form-group">
            <label>{{localize (concat locPrefix "fontPacksTab.gameSystemFontsVisibleSetting.label") title=gameSystemTitle }}</label>
            <input type="checkbox" data-gameSystemFontsVisible name="gameSystemFontsVisible" data-dtype="Boolean" {{checked gameSystemFontsVisible}} />
            <p class="notes">{{localize (concat locPrefix "fontPacksTab.gameSystemFontsVisibleSetting." gameSystemName "Hint" )}}</p>
          </div>
        {{/if}}
        {{! Dungeondraft pack setting}}
        <hr style="width:80%">
        <div class="form-group">
          <label>{{localize (concat locPrefix "fontPacksTab.dungeondraftFontsVisibleSetting.label")}}</label>
          <input type="checkbox" data-dungeondraftFontsVisible name="dungeondraftFontsVisible" data-dtype="Boolean" {{checked dungeondraftFontsVisible}} />
          <p class="notes">{{localize (concat locPrefix "fontPacksTab.dungeondraftFontsVisibleSetting.hint")}}</p>
        </div>
      </div>
    </div>
    {{! Preferences tab}}
    <div class="tab" data-tab="preferences" data-group="fvtt-fonts-main">
      <div class="settings-list">
        {{! FVTT Fonts Default Pack setting}}
        <div class="form-group">
          <label>{{localize (concat locPrefix "preferencesTab.categorySortSetting.label")}}</label>
          <input type="checkbox" data-categorySort name="categorySort" data-dtype="Boolean" {{checked categorySort}} />
          <p class="notes">{{localize (concat locPrefix "preferencesTab.categorySortSetting.hint")}}</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="close">
      <i class="fas fa-door-closed"></i> {{localize (concat locPrefix "mainSettingsFormFrame.closeButtonTitle")}}
    </button>
    <button type="button" data-cancel name="resetDefaults">
      <i class="fas fa-undo"></i> {{localize (concat locPrefix "mainSettingsFormFrame.resetDefaultsButtonTitle")}}
    </button>
  </footer>
</form>