<form autocomplete="off" style="padding: 0 2.5%; display: flex;flex-direction: column;"
      onsubmit="event.preventDefault()">
    <div>
        <label>{{localize (concat locPrefix "title")}}</label>
        <p class="notes">{{localize (concat locPrefix "hint")}}</p>
        <ul style="list-style: none;">
            <li style="display: flex;">
                <div style="flex: 0 0 60px;">{{localize (concat locPrefix "sourceColumnName")}}</div>
                <div style="flex: 0 0 175px;">{{localize (concat locPrefix "fontFamilyColumnName")}}</div>
                <div style="flex: 2;">{{localize (concat locPrefix "previewColumnName")}}</div>
            </li>
            <hr>
            {{#each fontFamilies as |family|}}
                <li style="display: flex;">
                    <div style="flex: 0 0 50px;"><img id={{family.sourceIconId}} style="border-width:0;"
                                                      src={{family.sourceIconPath}} height="20px"
                                                      title="{{family.sourceIconHoverText}}"/></div>
                    <div style="flex: 0 0 175px; text-transform: capitalize;">{{family.name}}</div>
                    <div style="flex: 2; font: 120% {{family.name}};">{{@root.previewAlphabet}}</div>
                </li>
                <hr style="width:60%">
            {{/each}}
        </ul>
    </div>
    <footer class="sheet-footer flexrow" style="margin-top: auto">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
    </footer>
</form>